.login__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10px;

}



input {

    padding: 10px;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    width: 400px;

}

.login__btn {

background-color: #1ed760;
color: black;
padding: 14px;
border-radius: 20px;
width: 50px;





}