<div class="spotify__home-container row">
<div class="spotify__home-container_side-bar col-2">

<div class="spotify__home-container_side-bar-item">

<img 
width="150"
class= "m-3 text-left"
src="../assets/spotify_light.png" 
alt="Spotify light logo"
/>
</div>

<div class="spotify__home-container_side-bar-item" (click)="onNavigation('home')">

    <a>Home</a>

</div>
<div class="spotify__home-container_side-bar-item " (click)="onNavigation('search')">

<a>Search</a>
</div>
<div class="spotify__home-container_side-bar-item" (click)="onNavigation('library')">

<a>Your Library</a>
</div>
<div class="spotify__home-container_side-bar-item" (click)="onNavigation('playlist')">

<a>Create Playlist</a>
</div>
</div>
<div class="spotify__home-container_playlist-container col-10">

<app-top-nav></app-top-nav>
<div [style.paddingTop]="'48px'" class="mt-5 container-fluid">

<h4 [style.color]="'white'" [style.padding]="'10px'">Focus</h4>
<div class="playlist_card_collections">
<div id="song_card_item" *ngFor="let sc of songCards">
<app-song-card 

[playlistThumbnail]="sc.thumbnail"
[title]="sc.title"
[description]="sc.description"

></app-song-card>
</div>
</div>
</div>
